.ProgressBar {
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  background: rgb(225,225,225);
}

.ProgressBar-progress {
  background: rgb(248, 5, 125);
  border-radius: 0.5rem;
}

.ProgressBar-complete {
  background: rgb(0, 255, 0);
  border-radius: 0.5rem;
}

.ProgressBar-percent {
  height: 1rem;
}